<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matematicas.equipo5" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradosdeEscolaridad"
            android:label="@string/title_activity_gradosde_escolaridad" >
        </activity>
        <activity
            android:name=".EjerciciosPrimero"
            android:label="@string/title_activity_ejercicios_primero" >
        </activity>
        <activity
            android:name=".usoParentesis"
            android:label="@string/title_activity_uso_parentesis" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis"
            android:label="@string/title_activity_ejercicios_parentesis" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis2"
            android:label="@string/title_activity_ejercicios_parentesis_2" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis3"
            android:label="@string/title_activity_ejercicios_parentesis3" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis4"
            android:label="@string/title_activity_ejercicios_parentesis4" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis5"
            android:label="@string/title_activity_ejercicios_parentesis5" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis6"
            android:label="@string/title_activity_ejercicios_paretesis6" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis7"
            android:label="@string/title_activity_ejercicio_parentesis7" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis8"
            android:label="@string/title_activity_ejercicios_parentesis8" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis9"
            android:label="@string/title_activity_ejercicios_parentesis9" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis10"
            android:label="@string/title_activity_ejercicios_parentesis10" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis11"
            android:label="@string/title_activity_ejercicios_parentesis11" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis12"
            android:label="@string/title_activity_ejercicios_parentesis12" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis13"
            android:label="@string/title_activity_ejercicios_parentesis13" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis14"
            android:label="@string/title_activity_ejercicios_parentesis14" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis15"
            android:label="@string/title_activity_ejercicios_parentesis15" >
        </activity>
        <activity
            android:name=".usoSignos"
            android:label="@string/title_activity_uso_signos" >
        </activity>
        <activity
            android:name=".EjerciciosSignos"
            android:label="@string/title_activity_ejercicios_signos" >
        </activity>
        <activity
            android:name=".EjerciciosSignos2"
            android:label="@string/title_activity_ejercicios_signos2" >
        </activity>
    </application>

</manifest>
