<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matematicas.equipo5" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="matematicas.equipo5.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="matematicas.equipo5.GradosdeEscolaridad"
            android:label="@string/title_activity_gradosde_escolaridad" >
        </activity>
        <activity
            android:name="matematicas.equipo5.EjerciciosPrimero"
            android:label="@string/title_activity_ejercicios_primero" >
        </activity>
        <activity
            android:name="matematicas.equipo5.usoParentesis"
            android:label="@string/title_activity_uso_parentesis" >
        </activity>
        <activity
            android:name="matematicas.equipo5.EjerciciosParentesis"
            android:label="@string/title_activity_ejercicios_parentesis" >
        </activity>
        <activity
            android:name="matematicas.equipo5.ejercicios_parentesis_2"
            android:label="@string/title_activity_ejercicios_parentesis_2" >
        </activity>
    </application>

</manifest>
