<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matematicas.equipo5" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GradosdeEscolaridad"
            android:label="@string/title_activity_gradosde_escolaridad" >
        </activity>
        <activity
            android:name=".EjerciciosPrimero"
            android:label="@string/title_activity_ejercicios_primero" >
        </activity>
        <activity
            android:name=".usoParentesis"
            android:label="@string/title_activity_uso_parentesis" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis"
            android:label="@string/title_activity_ejercicios_parentesis" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis2"
            android:label="@string/title_activity_ejercicios_parentesis_2" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis3"
            android:label="@string/title_activity_ejercicios_parentesis3" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis4"
            android:label="@string/title_activity_ejercicios_parentesis4" >
        </activity>
        <activity
            android:name=".EjerciciosParentesis5"
            android:label="@string/title_activity_ejercicios_parentesis5" >
        </activity>
    </application>

</manifest>
